* {
	margin: 0;
	padding: 0;
}
input {
	/*border: 1px solid red;*/
	height: 30px;
	position: relative;
	left: 530px;
}
.two input, .three input {
	width: 110px;
	left: 295px;
	/*border: 1px solid orange;*/
}
.two button, .three button {
	left: 325px;
}
 input {
	width: 110px;
}
.one, .two, .three, .four {
	margin: 20px 0;
}
button {
	/*color: #48527A;*/
	height: 34px;
	position: relative;
	left: 560px;

}
h2, input {
	text-align: center;
}